################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tar
/.vs
bin/
obj/

Enums/bin/
